:root {
    --backgroundcolor: linear-gradient(135deg, #1f1c2c, #2a2a4f);
    --card: #1e1e2f;
    --cell: #2b2b44;
    --text: white;
}

.light {
    --backgroundcolor: linear-gradient(135deg, #f7f7f7, #dcdcdc);
    --card: white;
    --cell: #e4e4e4;
    --text: #222;
}

*{box-sizing:border-box}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--backgroundcolor);
    color: var(--text);
}

.game{
    background:var(--card);
    margin: 24px auto;
    padding:35px;
    border-radius:24px;
    width:420px;
    text-align:center;
}

.score{
    display:flex;
    justify-content:space-between;
}

.score div{
    background:var(--cell);
    padding:14px;
    border-radius:14px;
    width:48%;
    font-size:18px;
}

.status{
    margin:18px 0px;
    font-size:20px;
    font-weight:bold;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:16px;
}

.cell{
    width:110px;
    height:110px;
    background-color:var(--cell);
    border-radius:18px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:50px;
    font-weight:bold;
    cursor:pointer;
}

.cell.x{color:#ff7675}
.cell.o{color:#74b9ff}

button{
    margin-top:14px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:14px;
    background-color:#ff7a18;
    color:white;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background-color: #e96b10;
    
}

.series {
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 6px;
    color: #f1c40f;
}

.toggle{
    position:fixed;
    top:20px;
    right:20px;
    font-size:22px;
    cursor:pointer;
}

#control-btn {
    display: flex;
    gap: 10px;
    margin-top: 14px;
}