<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="icon" href="./icon.svg">
    <link rel=stylesheet href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="toggle">🌗</div>
    <div class="container">
      <h1>🎮 Tic Tac Toe Game</h1>
      <p>Play with your friend</p>
      <button onclick="location.href='players.html'">Start Game</button>
    </div>
    <script src="index.js"></script>
  </body>
</html>