:root {
  --bg: linear-gradient(135deg, #1f1c2c, #2a2a4f);
  --card: #1e1e2f;
  --text: white;
}

.light {
  --bg: linear-gradient(135deg, #f7f7f7, #dcdcdc);
  --card: white;
  --text: #222;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: var(--text);
}

.container {
  background: var(--card);
  padding: 50px;
  border-radius: 22px;
  text-align: center;
  width: 360px;
}

h1 { 
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  margin-top: 25px;
  padding: 14px 24px;
  border: none;
  border-radius: 12px;
  background-color: #ff7a18;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover{
  background: #e96b10;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}