<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Players</title>
    <link rel="icon" href="./icon.svg">
    <link rel="stylesheet" href="players.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="toggle">🌗</div>

    <div class="container">
      <h2>Enter Player Names</h2>
      <input id="p1" placeholder="Player 1 (X)">
      <input id="p2" placeholder="Player 2 (O)">
      <button id="start-btn">Start Game</button>
    </div>

    <script src="players.js"></script>
    </body>
</html>