:root {
  --bg: linear-gradient(135deg, #1f1c2c, #2a2a4f);
  --card: #1e1e2f;
  --text: white;
}

.light {
  --bg: linear-gradient(135deg, #f7f7f7, #dcdcdc);
  --card: white;
  --text: #222;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: var(--text);
}

.container {
  background: var(--card);
  padding: 35px;
  border-radius: 22px;
  width: 340px;
  text-align: center;
}

h2 { font-size: 26px; }

input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 10px;
  border: black 2px solid;
  font-size: 16px;
}

button {
  margin-top: 18px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #ff7a18;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

button:hover{
  background: #e96b10;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}